
.tableCont{
    margin-top: 20px;
    width: 100%;
    overflow: scroll;
    border-radius: 5px;

    table{
        width: 100%;
        border-collapse: collapse;
    }
    td{
        padding: 8px;
    }
    th{
        padding: 12px;
        text-align: left;
        background-color: $PrimaryColor;
        color: white;
    }
    tr:nth-child(even){background-color: #f2f2f2;}
}


.buttonbox{
    width: 20%;
}

.btn{
    padding: 10px;
    margin-right: 20px;
    border: none;
    color: white;

  &-delete{
      background-color: $dangerColor;
      color: white;
      padding: 10px;
      margin-right: 20px;
      border: none;
      border-radius: 5px;
      width: 70px;
  }

    &-edit{
        background-color: $WarningColor;
        padding: 10px;
        margin-right: 20px;
        border: none;
        border-radius: 5px;
        width: 70px;
    }
}